<!-- =============== 部分テンプレート：写真一覧(都道府県別) =============== -->
<!--@posts ⇒ posts-->
<!-- --------------- grid -------------- -->
  <div class="center_main">
    <div class="grid_post_index">

<!-- --------------- grid：選択された都道府県の画像 --------------- -->
      <% if posts.presence %>
      <% posts.each.with_index(1) do | post, index| %>
        <!--CSS用にclassを設定-->
        <div class="post_<%= index %>">
            <%= link_to post_path(post) do%>
              <%= "(#{post.city})　#{post.spot_name}" %>
              <div>
                <% post.images.each do |image| %>
                  <%= image_tag image.variant(resize: '190x100') %>
                  <% break %>
                <% end %>
              </div>
            <% end %>
        </div>
      <% end %>
      <!--投稿写真が無い時-->
      <% else %>
      <p>まだ投稿はありません。</p>
      <% end %>
    </div>
  </div>