/*=============== homes/aboutページ用CSS ===============*/
/*--------------- homes/about/背景画像 ---------------*/
  #about_bg_img{
    width: 100vw;
    height: 100vh;
    background-image: image-url("main_visual_2.jpg");
    background-size:  cover;
    background-position: center;
    position: fixed;
    opacity: 0.7;
    z-idex: 10;
  }

/*--------------- homes/about/紹介文 ---------------*/
  #about_box{
    width: 100vw;
    height: 90vh;
  }

  #about_text{
    width: 40vw;
    margin: 100px auto;
    padding: 50px 0;
    text-align: center;
    background-color: #D9E5FF;
    border-radius: 50px;
    opacity: 0.9;
  }

  #about_text p{
    color: black;
    line-height: 2.5;
    font-size: large;
  }

  #about_link{
    width: 40%;
    margin: 0 auto;
    line-height: 2.5;
    background-color: #FFC7AF;
    border-radius: 50px;
  }

  #about_link a{
    color: red;
  }