/*=============== レスポンシブ：members/followページ用CSS ===============*/
@media screen and (max-width:820px){
//--------------- テーブル：フォロー/フォロワー ---------------
  .follow_list_box{
    width: 100vw;
    min-height: 80vh;
    background-color: #F8F8FF;
  }

  .follow_list{
    margin: 0 auto;
    width: 98vw;
    text-align: center;
  }

  .follow_list td{
    padding: 0 10px;
  }

  .follow_image{
    width: 30px;
    text-align: right;
  }

  .follow_user{
    width: 40vw;
    vertical-align: top;
    text-align: center;
  }

  .follow_btn{
    width: 20vw;
    text-align: left;
  }
}