/*=============== members/followページ用CSS ===============*/
//--------------- テーブル：フォロー/フォロワー ---------------
  .follow_list_box{
    width: 900px;
    min-height: 84vh;
    background-color: #F8F8FF;
  }

  .follow_list{
    margin: 0 auto;
  }

  .follow_list tbody tr td{
    padding: 0 10px;
  }

  .follow_list tbody tr .follow_image{
    width: 60px;
  }

  .follow_image .profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%; //枠を円にする
    background-color: white;
  }

  .follow_list tbody tr .follow_user{
    width: 180px;
    vertical-align: top;
    text-align: left;
  }

  .follow_list tbody tr .follow_btn{
    width: 150px;
  }