$margin-1: 30px;

//--------------- ヘッダー画像---------------
.header_image{
  width: 900px;
  height: 300px;
  margin: 0 auto;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 1;
}

//--------------- CSS grid：showページ---------------
.grid_member_show{
  display: grid;  //CSS Grid に設定
  justify-content: center;
  justify-items: center; //アイテムの横方向の配置
  align-items: center;  //アイテムの縦方向の配置
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px auto;
  margin: 250px 0 30px 0;
}

// プロフィール写真
.grid_member_show_A{
  grid-column: 1/2;   //横
  grid-row: 1/2;  //縦
  margin-bottom: $margin-1;
  justify-self: end;
  z-index: 2;
}

.grid_member_show_A .profile_image{
  width: 150px;
  height: 150px;
  border-radius: 50%; //枠を円にする
  // border: solid 2px black; //円の輪郭線
  background-color: white;
}

// プロフィール情報
.grid_member_show_B{
  grid-column: 2/3;   //横
  grid-row: 1/2;  //縦
  margin: 50px 0 $margin-1 ;
}

.grid_member_show_B .l{
  font-size: x-large;
}

.grid_member_show_B .m{
  font-size: midium;
}

// プロフィール編集/フォローボタン
.grid_member_show_C{
  grid-column: 3/4;   //横
  grid-row: 1/2;  //縦
  margin: 30px 0 $margin-1 40px;
  justify-self: start;
}

// japan_map
.grid_member_show_D{
  grid-column: 1/2;   //横
  grid-row: 2/3;  //縦
  margin: $margin-1 0;
  justify-self: end;
}

// 投稿等の情報+投稿一覧へのリンク
.grid_member_show_E{
  grid-column: 2/4;   //横
  grid-row: 2/3;  //縦
  margin-bottom: $margin-1;
  justify-self: start;
  margin-left: 100px;
}

// 投稿写真ギャラリー
.grid_member_show_F{
  grid-column: 1/4;   //横
  grid-row: 3/4;  //縦
  margin: $margin-1 0;
  text-align: center;
  }

.grid_member_show_F .border{
  border: 0.5px dotted gray;
  margin: 0 auto 40px auto;
  width: 80%;
}

//--------------- CSS grid：editページ---------------
.grid_member_form{
  display: grid;  //CSS Grid に設定
  justify-content: center;
  justify-items: center; //アイテムの横方向の配置
  align-items: start;  //アイテムの縦方向の配置
  grid-template-columns: 450px 450px;
  // grid-template-rows: 200px 250px auto;
  padding-top: $margin-1;
}

// ヘッダー画像
.form_1{
  grid-column: 1/3;   //横
  grid-row: 1/2;  //縦
  margin-bottom: $margin-1;
}

// プロフィール画像
.form_2{
  grid-column: 1/3;   //横
  grid-row: 2/3;  //縦
  margin-bottom: $margin-1;
}

// 好きな旅の言葉
.grid_member_form .form_3{
  grid-column: 1/3;   //横
  grid-row: 3/4;  //縦
  margin-bottom: $margin-1;
}

// 名前(性)
.grid_member_form .form_4{
  grid-column: 1/2;   //横
  grid-row: 4/5;  //縦
  margin-bottom: $margin-1;
}

// 名前(名)
.form_5{
  grid-column: 2/3;   //横
  grid-row: 5/6;  //縦
  margin-bottom: $margin-1;
}

// 名前(セイ)
.grid_member_form .form_6{
  grid-column: 1/2;   //横
  grid-row: 6/7;  //縦
  margin-bottom: $margin-1;
}

// 名前(メイ)
.grid_member_form .form_7{
  grid-column: 2/3;   //横
  grid-row: 7/8;  //縦
  margin-bottom: $margin-1;
}

// ユーザーネーム
.grid_member_form .form_8{
  grid-column: 1/2;   //横
  grid-row: 8/9;  //縦
  margin-bottom: $margin-1;
}

// 居住地
.grid_member_form .form_9{
  grid-column: 1/2;   //横
  grid-row: 9/10;  //縦
  margin-bottom: $margin-1;
}

// メールアドレス
.grid_member_form .form_10{
  grid-column: 1/3;   //横
  grid-row: 10/11;  //縦
  margin-bottom: $margin-1;
}

// 編集内容の保存・退会ボタン
.grid_member_form .form_11{
  grid-column: 1/3;   //横
  grid-row: 11/12;  //縦
  margin-bottom: $margin-1;
  text-align: center;
}

//--------------- テーブル：フォロー/フォロワー ---------------
.follow_list{
  margin: 0 auto;
  width: 500px;
  text-align: left;
}

.follow_list td{
  padding: 0 10px;
}

.follow_image{
  width: 60px;
}

.follow_user{
  wdth: 300px;
  vertical-align: top;
}

.follow_btn{
  width: 140px;
}