/*=============== posts/showページ用CSS ===============*/
/*--------------- 変数 ---------------*/
$margin-1: 40px;

//--------------- CSS grid：post/showページ---------------
.grid_post_show{
  display: grid;
  justify-items: center;
  align-items: top;
  grid-template-columns: 200px 250px 250px 200px;
}

// ----- 投稿のスポット名 -----
.grid_post_show_A{
  grid-column: 1/3;   //横
  grid-row: 1/2;  //縦
  justify-self: start;
  align-self: end;
  margin: 30px 0 10px 180px;
}

// ----- いいね機能 -----
.grid_post_show_B{
  grid-column: 3/4;   //横
  grid-row: 1/2;  //縦
  justify-self: end;
  align-self: end;
  margin: 30px 0 10px 0;
}

span.like, span.like a{
  color: #FF0461;
}

// ----- 投稿写真 -----
.grid_post_show_C{
  grid-column: 2/4;   //横
  grid-row: 2/3;  //縦
  justify-self: center;
  margin-bottom: $margin-1;
  text-align: center;
}

// ----- 投稿者アイコン -----
.grid_post_show_D{
  grid-column: 2/3;   //横
  grid-row: 3/4;  //縦
  margin-bottom: $margin-1;
  justify-self: end;
  padding-right: 50px;
}

.grid_post_show_D .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 50%; //枠を円にする
  background-color: white;
}

// ----- 投稿情報 -----
.grid_post_show_E{
  grid-column: 3/5;   //横
  grid-row: 3/4;  //縦
  margin-bottom: $margin-1;
  justify-self: start;
}

.grid_post_show_E a{
  color: #005500;
  font-size: large;
  font-weight: bold;
  }

.grid_post_show_E .margin_b{
  margin-bottom: 10px;
}

.grid_post_show_E .margin_l{
  margin-left: 20px;
}

// ----- google maps -----
.grid_post_show_F{
  grid-column: 1/3;   //横
  grid-row: 4/5;  //縦
  margin-bottom: $margin-1;
  justify-self: end;
}

#map {
  height: 300px;
  width: 400px;
}

// ----- コメント -----
.grid_post_show_G{
  grid-column: 3/5;   //横
  grid-row: 4/5;  //縦
  margin-bottom: $margin-1;
  justify-self: center;
  overflow-wrap: break-word;
}

.grid_post_show_G .form{
  width: 400px;
}

.grid_post_show_G .text_area{
  width: 300px;
  margin: 5px 50px;
}

.grid_post_show_G .comment_content{
  width: 250px;
  text-align: left;
  background-color: gray;
  margin: 10px auto;
  padding: 0 10px;
  float: right;
}

.profile_image_frame{
  margin-left: 30px;
}

//--------------- CSS grid：post/show/コメント機能---------------
.grid_post_comment{
  display: grid;
  grid-template-columns: 55px 300px;
  margin-top: 15px;
}

// ----- 投稿者プロフィール画像 -----
.grid_comment_A{
  grid-column: 1/2;   //横
  grid-row: 1/3;  //縦
  justify-self: start;
  margin-top: 10px;
}

.grid_comment_A .profile_image{
  width: 50px;
  height: 50px;
  border-radius: 50%; //枠を円にする
  background-color: white;
}

// ----- 投稿者ユーザーネーム, コメント日時 -----
.grid_comment_B{
  grid-column: 2/3;   //横
  grid-row: 1/2;  //縦
  justify-self: start;
}

.grid_comment_B a{
  color: #005500;
  font-weight: bold;
}

// ----- コメント内容 -----
.grid_comment_C{
  grid-column: 2/3;   //横
  grid-row: 2/3;  //縦
  justify-self: start;
  width: 90%;
  margin: 0 0 10px 20px;
  padding: 10px;
  background-color: white;
  border-radius: 2rem;
}

// ----- コメント削除ボタン -----
.grid_comment_D{
  grid-column: 2/3;   //横
  grid-row: 3/4;  //縦
  justify-self: start;
  margin: 0 0 10px 30px;
}


