/*=============== posts/indexページ用CSS ===============*/
/*---------------   都道府県別photos ---------------*/
$margin-1: 50px;

.pref_photos{
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 30px;
}

.image_size {
  width: 110px;
  height: 126px;
}

.pref_1, .pref_2, .pref_3, .pref_4{
  grid-row: 1/2;
  margin-bottom: $margin-1;
}
.pref_5, .pref_6, .pref_7, .pref_8{
  grid-row: 2/3;
  margin-bottom: $margin-1;
}
.pref_9, .pref_10,.pref_11, .pref_12{
  grid-row: 3/4;
  margin-bottom: $margin-1;
}
.pref_13, .pref_14, .pref_15, .pref_16{
  grid-row: 4/5;
  margin-bottom: $margin-1;
}
.pref_17, .pref_18, .pref_19, .pref_20{
  grid-row: 5/6;
  margin-bottom: $margin-1;
}
.pref_21, .pref_22, .pref_23, .pref_24{
  grid-row: 6/7;
  margin-bottom: $margin-1;
}
.pref_25, .pref_26, .pref_27, .pref_28 {
  grid-row: 7/8;
  margin-bottom: $margin-1;
}
.pref_29, .pref_30,.pref_31, .pref_32 {
  grid-row: 8/9;
  margin-bottom: $margin-1;
}
.pref_33, .pref_34, .pref_35, .pref_36{
  grid-row: 9/10;
  margin-bottom: $margin-1;
}
.pref_37, .pref_38, .pref_39, .pref_40{
  grid-row: 10/11;
  margin-bottom: $margin-1;
}
.pref_41, .pref_42, .pref_43, .pref_44 {
  grid-row: 11/12;
  margin-bottom: $margin-1;
}
.pref_45, .pref_46, .pref_47{
  grid-row: 12/13;
  margin-bottom: $margin-1;
}


// --------------- 1段目 ---------------
// .pref_1{
//   grid_column: 1/2;
//   grid-row: 1/2;
//   margin-bottom: $margin-1;
// }

// .pref_2{
//   grid_column: 2/3;
//   grid-row: 1/2;
//   margin-bottom: $margin-1;
// }

// .pref_3{
//   grid_column: 3/4;
//   grid-row: 1/2;
//   margin-bottom: $margin-1;
// }

// .pref_4{
//   grid_column: 4/5;
//   grid-row: 1/2;
//   margin-bottom: $margin-1;
// }

// // --------------- 2段目 ---------------
// .pref_5{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_6{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_7{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_8{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// // --------------- 3段目 ---------------
// .pref_9{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_10{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_11{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_12{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// // --------------- 4段目 ---------------
// .pref_13{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_14{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_15{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_16{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// // --------------- 5段目 ---------------
// .pref_17{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_18{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_19{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_20{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// // --------------- 6段目 ---------------
// .pref_21{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: $margin-1;
// }

// .pref_22{
//   grid_column: ;
//   grid-row: ;
//   margin-bottom: ;
// }

// .pref_23{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_24{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 7段目 ---------------
// .pref_25{
//   grid_column: $c-1;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_26{
//   grid_column: $c-2;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_27{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_28{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 8段目 ---------------
// .pref_29{
//   grid_column: $c-1;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_30{
//   grid_column: $c-2;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_31{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_32{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 9段目 ---------------
// .pref_{
//   grid_column: $c-1;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-2;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 10段目 ---------------
// .pref_{
//   grid_column: $c-1;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-2;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 11段目 ---------------
// .pref_{
//   grid_column: $c-1;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-2;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 12段目 ---------------
// .pref_{
//   grid_column: $c-1;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-2;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-3;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// .pref_{
//   grid_column: $c-4;
//   grid-row: $r-;
//   margin-bottom: $margin-1;
// }

// // --------------- 13段目 ---------------

// // --------------- 14段目 ---------------

// // --------------- 段目 ---------------

// // --------------- 段目 ---------------


