<!-- =============== トップページ =============== -->
<!-- --------------- メインビジュアル -------------- -->
  <div id="top_main_visual">
    <%= image_tag "main_visual_1.png", id:"main_visual_1" %>
  </div>

<!-- --------------- ナビゲーションメニュー -------------- -->


<!-- --------------- フッター -------------- -->
  <div class="footer_top">
    <%= image_tag 'footer_1.png', :width => '100%' %>
  </div>

