<!-- =============== フォロー会員一覧ページ =============== -->

<p>フォロー一覧</p>
  <% @member.following_member.each do |member| %>
    <%= link_to member.user_name, member_path(member) %>
    <% unless member_signed_in? && current_member == member || admin_signed_in?  %>
      <% if current_member.following?(member) %>
        <%= link_to 'フォロー外す', unfollow_path(member.id), method: :POST %>
      <% else %>
        <%= link_to 'フォローする', follows_path(member.id), method: :POST %>
      <% end %>
    <% end %>
  <% end %>