<!-- =============== フォロー会員一覧ページ =============== -->
  <div class="page_title">
    <i class=" fa-2x"></i>
    <span class="title">　  <%= @member.user_name %> フォロー中</span>
  </div>

<!-- --------------- 中央に配置 -------------- -->
  <div class="center_main">

<!-- --------------- 会員一覧表 -------------- -->
<%= render "public/members/follow_list", members: @members %>
  </div>