<!-- =============== 個人ユーザの投稿写真一覧ページ(都道府県別) =============== -->
<!-- --------------- ページタイトル -------------- -->
  <div class="index_title_box">
    <% @posts.each do |post| %>
      <% if post.presence %>
        <i class="fas fa-camera fa-2x"></i>
        <span class="index_title">
          <%= "　#{post.member.user_name} が旅した#{post.prefecture_i18n}" %>
        </span>
        <% break %>
      <% end %>
    <% end %>


  </div>

<!-- --------------- 写真一覧(post/image) -------------- -->
  <%= render '/public/posts/pref_photos', posts: @posts %>