//--------------- 会員一覧テーブル ---------------
.members_index{
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
  font-size: small;
}

.members_index thead{
  background-color: #DDFFFF;
}

.members_index th, .members_index td{
  border: solid 1px gray;
  padding: 0 10px;
}