/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// font-awesome用
@import 'font-awesome-sprockets';
@import 'font-awesome';

// google fonts用
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', serif; //google fonts
  text-align: center;
}

// ナビゲーションメニュー　ここから
  $cor-1: black;
  $cor-2: #8EB8FF;

  .header {
    width: 100%;
    height: 45px;
    background: $cor-1;
  }

  .nav {
    margin: 0 auto;
    background: $cor-1;
    color: #f0f0f0;
    ul {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    a {
      display: block;
      width: 150px;
      // padding: 0 30px;
      line-height: inherit;
      cursor: pointer;
    }
     &_menu {
       line-height: 45px;
       font-weight: 700;
       text-transform: uppercase;
       &_item {
         display: inline-block;
         position: relative;

         &:hover {
           background-color: $cor-1;

           .nav_submenu {
             display: block;
           }
         }
       }

     }
    &_submenu {
      font-weight: 300;
      text-transform: none;
      display: none;
      position: absolute;
      width: 150px;
      background-color: $cor-1;

      &_item {
        &:hover {
          background: rgba( #000, 0.1 );
        }
      }
    }
  }
// ナビゲーションメニュー　ここまで
// footer　ここから
  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height:0;
  }

  .footer_img {
    width: 100%;
  }

  .copyright {
    position: absolute;
    font-size: 12px;
    color: white;
    bottom: 15px;
    width: 100%;
    margin: 0 auto;
  }
// fotter　ここまで
// レスポンシブデザイン(タブレット縦)　ここから
  @media screen and (max-width:768px) {
// ナビゲーションメニュー　ここから

// ナビゲーションメニューここまで
// footer　ここから
    footer {
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      line-height:0;
    }

    .footer_img {
      width: 100%;
    }

    .copyright {
      position: absolute;
      font-size: 10px;
      color: white;
      bottom: 10px;
      width: 100%;
      margin: 0 auto;
    }
// fotter　ここまで
  }
// レスポンシブデザイン(タブレット縦)　ここまで